@use '../../../../scss/var';

.container__carousel--desc {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  transform: translateZ(0.01px);
  &--more {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 1rem;
    &:hover::before, &:hover::after {
        scale: 1.5;
        rotate: 45deg;
        cursor: pointer;
    }
    &--msg {
        position: absolute;
        top: -2rem;
        left: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-align: center;
        text-wrap: nowrap;
        scale: 0;
        transition-duration: 0.4s;
        transform-origin: 0 100%;
        color: var.$color;
        background-color: var.$background-color-carousel;
        box-shadow: 0px 0px 7px 7px rgba(131,125,125,1), inset 0px 0px 7px 2px rgba(131,125,125,1);
    }
    &::before, &::after {
        content: "";
        transition-duration: 0.5s;
        position: absolute;
        background-color: var.$color;
        --size-one: 0.2rem;
        --size-two: 100%;
    }
    &::before {
        top: 50%;
        translate: 0 -50%;
        width: var(--size-two);
        height: var(--size-one);
    }
    &::after {
        left: 50%;
        translate: -50% 0;
        width: var(--size-one);
        height: var(--size-two);
    }
  }
}
.hover {
  display: none;
}
.container__carousel--desc--more:hover .container__carousel--desc--more--msg {
  scale: 1;
  translate: 1rem 0rem;
  transition-timing-function: cubic-bezier(.31,1.78,.65,.89);
}