@use '../../../../scss/var';

.container__carousel--desc--link {
  margin-top: 0.5rem;
  font-family: 'SpaceMono-Italic';
  position: relative;
  list-style-type: none;
  a, p:not(.container__carousel--msgNotOnline) {
    color: var.$color-desc;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
  }
  p:not(.container__carousel--msgNotOnline)  {
    text-decoration: line-through;
  }
  .s1 span {
    transform-origin: bottom;
  }
  .s2 span {
    transform-origin: top;
    color: transparent;
    transform: translateY(100%) rotateX(-90deg);
  }
  .s2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &:hover .s1 span {
    color: transparent;
    transform: translateY(-100%) rotateX(-90deg);
  }
  &:hover .s2 span {
    color: var.$color-desc;
    transform: translateY(0%) rotateX(0deg);
  }
}