@use '../../../../scss/var';
.container__carousel--tagStack{
  position: absolute;
  color: var.$color;
  width: 2rem;
  padding-right: 0.5rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 115%;
  top: -1.5rem;
  right: 0;
  text-align: center;
  background-color: var.$background-color-carousel;
  border-radius: 1rem 0 0 0;
  cursor: default;
  &::before{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 2rem;
    height: 1rem;
    left: -1.95rem;
    top: 0.5rem;
    border-radius: 0 0 1rem 0;
    box-shadow: 5px 5px 0 0 var.$background-color-carousel;
  }
  &::after{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    left: 1rem;
    top: -2rem;
    border-radius: 0 0 0.97rem 0;
    box-shadow: 0 15px var.$background-color-carousel;
  }
}