@use '../../../../scss/var';
.container__carousel--tagStack{
  position: absolute;
  color: var.$color;
  width: 2rem;
  padding-right: 0.5rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 115%;
  top: -1.5rem;
  right: 0;
  text-align: center;
  background-color: var.$background-color-carousel;
  border-radius: 2rem 0 0 0;
  cursor: default;
}