@use '../../../scss/var';
@use '../../../scss/font';

.container {
  position: relative;
  width: 100%;
  max-width: calc(var.$width * 2);
  height: 30rem;
  perspective: 2000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-width: 39rem) {
    height: 35rem;
  }
  &__carousel {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: var.$width;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.31,1.78,.65,.89);

    // Height screen
    @media screen and (min-height: 43rem) {
        margin: 1rem auto;
    }
    @media screen and (min-height: 50rem) {
        margin: 4rem auto;
    }
    &--img {
      position: relative;
      width: 100%;
      aspect-ratio: 1/0.5;
      overflow: hidden;
      background-color: #000;
      img {
        position: absolute;
        // left: 50%;
        // top: 50%;
        // translate: -50% -50%;
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
    &--face {
      background-color: var.$background-color-carousel;
      position: absolute;
      width: var.$width;
      height: var.$height;
      transform-style: preserve-3d;
      border: 1px solid var.$border-color-carousel;
    }
    .hide{
      display: none;
    }
    &--msgNotOnline {
      transform-origin: center;
      position: absolute;
      top: -5rem;
      left: 50%;
      font-size: 0.8rem;
      width: 100%;
      background-color: var.$background-color-carousel;
      color: var.$color;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0px 0px 7px 7px rgba(131,125,125,1), inset 0px 0px 7px 2px rgba(131,125,125,1);
      animation: appear 0.5s cubic-bezier(.17,2,.55,.67) forwards;
      @keyframes appear {
        0% {
          transform: translate(-50%, -50%) scale(0);
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    @media screen and (min-width: 39rem) and (min-height: 50rem) {
      &::after {
        content: "";
        position: absolute;
        width: var.$width;
        height: var.$width;
        background-color: rgb(255, 255, 255);
        opacity: 0.4;
        left: 50%;
        transform: rotateX(90deg) translateX(-50%) translateZ(-14rem);
        box-shadow: 0px 0px 30px 35px #fff;
      }
    }
  }
}