@use '../../scss/var';

.footer {
  // margin-top: auto;
  height: 3rem;
  width: 100%;
  color: var.$color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__contact {
    position: relative;
    text-decoration: none;
    color: var.$color;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding: 0 0.3rem;
    &::after {
      content: '';
      position: absolute;
      top: 65%;
      width: 0;
      height: 2px;
      background: var.$color;
    }
    &:hover:after {
      transition-duration: 0.3s;
      width: 90%;
    }
  }
}