@use './_var';

body, #root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var.$background-color;
  background: var.$linear-gradiant;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
    opacity: 0.3;
    object-position: center center;
  }
}