@use './_var';

.main__container--card {
    --gap: 2rem;
    border-radius: 0.5rem;
    color: var.$color;
    @media screen and (min-width: 600px) {
        &:nth-child(odd) {
            flex-direction: row-reverse;
            .main__container--card--containerDesc {
                // padding-right: 3rem;
            }
        }
        display: flex;
        width: 90%;
        max-width: 1000px;
        max-height: 540px;
        margin: calc(var(--gap) * 2) auto;
        perspective: 60rem;
        @media screen and (min-width: 800px) {
            margin: calc(var(--gap) * 2.5) auto;
            
        }
        @media screen and (min-width: 1000px) {
            margin: calc(var(--gap) * 4) auto;
            
        }
    }
    &--containerImg {
        position: relative;
        width: calc(100% - var(--gap));
        max-width: 18rem;
        height: 35%;
        margin: calc(var(--gap) / 2) auto 0rem;
        @media screen and (min-width: 600px) {
            transform-style: preserve-3d;
            perspective: 50rem;
            transition-duration: 0.5s;
            margin: 0;
            height: 100%;
            width: 70%;
            max-width: 600px;
            // &::before {
            //     content: "";
            //     width: 100%;
            //     transform: translateZ(1rem);
            //     background-color: red;
            //     opacity: 0.4;
            //     position: absolute;
            //     border-radius: 0.5rem;
            //     aspect-ratio: 16/10;
            // }
        }
        img {
            width: 100%;
            @media screen and (min-width: 600px) {
                border-radius: 0.5rem;
                aspect-ratio: 16/10;
            }
        }
    }
    &--containerDesc {
        height: calc(65% - (var(--gap) / 2));
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        padding: 1rem;
        overflow-y: auto;
        @media screen and (min-width: 600px) {
            width: 50%;
        }
    }
}