@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@font-face {
	font-family: 'Spongeboy';
	src: url(../assets/spongeboy/Spongeboy.ttf);
}
@font-face {
	font-family: 'SpaceMono-Italic';
	src: url(../assets/Space_Mono/SpaceMono-Italic.ttf);
}