@use './_var';

.footer {
    margin-top: auto;
    height: 5rem;
    width: 100%;
    color: var.$color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
        color: var.$color;
    }
}