@use './_var';
.container__carousel--desc--more {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1rem;
    transition-duration: 0.5s;
    &:hover {
        rotate: 45deg;
        cursor: pointer;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        background-color: var.$color;
        --size-one: 0.2rem;
        --size-two: 100%;
    }
    &::before {
        top: 50%;
        translate: 0 -50%;
        width: var(--size-two);
        height: var(--size-one);
    }
    &::after {
        left: 50%;
        translate: -50% 0;
        width: var(--size-one);
        height: var(--size-two);
    }
}