$height-header: 5rem;
$background-color: #2f2e2e;
$background-color-with-opacity: rgba(47,46,46,0.4);
$linear-gradiant: linear-gradient(45deg, rgba(47,46,46,0.62) 0%, rgba(47,46,46,0.99) 50%);
$color: #a8a8a8;
$title-background-color: rgba(185, 185, 185, 0.208);


$background-color-banner: $background-color;
$stroke-color-banner: #2c2c2c96;
$background-color-carousel: #3d3c3c;
$color-desc: #837d7d;
$border-color-carousel: #555555;
$sizes-cube: 1.5rem;
$width: 20rem;
$height: 20rem;
$size-btn: 3.25rem;
$stroke-square: 200;
$stroke-arrow: 109.73954010009766;
$duration-animation-button-header: 0.5s;
$cubic-bezier: .47,1.64,.41,.8;