$height-header: 5rem;
$background-color: #0f0c0c;
$background-color-banner: $background-color;
$stroke-color-banner: #2c2c2c96;
$background-color-carousel: #3d3c3c;
$color: #4f4f4f;
$color-desc: #837d7d;
$border-color-carousel: #555555;
$sizes-cube: 1.5rem;
$width: 20rem;
$height: 20rem;
$size-btn: 3.25rem;
$stroke-square: 200;
$stroke-arrow: 109.73954010009766;
$duration-animation-button-header: 0.5s;
$cubic-bezier: .47,1.64,.41,.8;